.bs-background {
  background-color: var(--background) !important;
}

.bs-background-dark {
  background-color: var(--background-dark) !important;
}

.bs-background-secondary {
  background-color: var(--background-secondary) !important;
}