.bs-table {
	font-size: var(--fs-xs);

	> thead,
	> tbody {

		> tr {

			> td,
			> th {
				font-weight: inherit;
				padding: 12px 10px;
			}
		}
	}

	> thead {

		> tr {

			> th {
				text-align: center;
			}
		}
	}

	> tbody {

		> tr {

			> td {
				text-align: center;
			}
		}
	}
}

[data-table-coll="3"] {

	thead > tr > * {
		width: 33.33333%;
	}
}